@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

*{
    font-family:'Nunito Sans', sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
}
.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.212);
}
/* Área dos pontos */
.scores{
display: flex;
}
.score{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.score h1{
    font-weight: 400;
    font-size: 1.6rem;
}
.life-bar {
   width: 80%;
   height: 20px;
   border: 1px solid #aaa;
}
.life-bar .life{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}
.life-bar .life.danger{
    background-color: red;
}
/*Área do Resultado*/
.result{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}
.result .win{
    color: rgb(5, 139, 5);
}
.result .lose{
    color: rgb(185, 5, 5);
}
/*Área dos controles*/
.buttons{
display: flex;
justify-content: center;
}
.btn{
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.new-game{
    background-color: rgba(6, 89, 167, 0.808);
    color: #fff;
}
.attack{
    background-color: rgb(226, 10, 10);
    color: #fff;
}
.especial-attack{
    background-color: rgb(248, 164, 7);
}
.heal{
    background-color: rgba(23, 155, 23, 0.986) ;
    color: #fff;
}
.give-up{
    background-color: #bbb;

}
/* Área dos logs*/
.logs ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logs ul li{
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    padding: 3px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}
.player{
    background-color: rgba(7, 163, 163, 0.705);
    color: azure;
}
.monster{
    background-color: rgba(102, 51, 153, 0.568);
    color: azure;
}
